/META{"name":"Shadow Light(Transparent)","description":"Dark style theme with shadows and light color borders. Transparent Version use with TransparencyPatcher Plugin","author":"Asteria","version":"1.2.0"}*//{}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://asteria5675.github.io/BetterDiscordThemes/SourceCodes/sl_source.css');

/* Main Variables
- Change the color variables if desired*/

:root {
/* Main Color */
--main-color: #2e2e2e;
/* Border Colors */
--sec-color: rgb(141, 136, 136);
/* Button color and other aspects */
--dark-red: rgba(100,15,30,1);
/* Background Opacity to image >number within [0,1)*/
--bg-opacity: 0;
/* Message Background Color/Opacity */
--message-bg: rgba(0,0,0,0.65);
}


/* Background Image */
/*
.container-2lgZY8 {
	background: transparent !important
}
.app, .app-19_DXt {
		background: url(https://i.imgur.com/ucW2TmV.png) center/cover !important;
}
*/
/*
.app {
		background: url(https://i.imgur.com/ucW2TmV.png) !important;

		background-size: cover !important
}
*/
/* 
Transparent To Desktop 
	- ONLY IF TransparencyPatcher Plugin is enabled 
*/
.container-16j22k {
    background: url(https://i.imgur.com/ucW2TmV.png) no-repeat center/cover;
    -webkit-mask: -webkit-radial-gradient( rgba(0,0,0,1), rgba(0,0,0,0.95))
}
.layers-3iHuyZ {
    background-color: rgba(0,0,0,var(--bg-opacity))!important;
}

.app, .appMount-3VJmYg,
.container-2lgZY8,
.chat-3bRxxu,
.chat-3bRxxu .messagesWrapper-3lZDfY {
	background: transparent !important
}
