/*
Core
*/
.appMount-3VJmYg {background: var(--sec-bg-color);}
    /* Font */

::-webkit-input-placeholder, 
body, 
button, select {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
}
#app-mount .member-3W1lQa .content-OzHfo4,
.chat-3bRxxu .messages-3amgkR, .chat-3bRxxu form input, input .searchbar  { font-style: normal }
    /* Scrollbars */
#bda-qem-twitch-container ::-webkit-scrollbar-thumb {background: #000}
#bda-qem-twitch-container ::-webkit-scrollbar-track {background: transparent}

.container-PNkimc ::-webkit-scrollbar{width: 5px!important; }
.chat-3bRxxu ::-webkit-scrollbar {
    width: 10px !important
}
.chat-3bRxxu ::-webkit-scrollbar-track-piece, 
.chat-3bRxxu ::-webkit-scrollbar-track {
    background: transparent !important;
    border-color: transparent !important;
}
.reactors-Blmlhw ::-webkit-scrollbar-thumb,
.chat-3bRxxu ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.85)!important;
    border-color: transparent !important;
}
#app-mount .messagesPopoutWrap-1MQ1bW ::-webkit-scrollbar-thumb,
.chat-3bRxxu ::-webkit-scrollbar-thumb:hover {
    background-color: #000 !important;
}

#friends ::-webkit-scrollbar {
    width: 10px !important
}
#friends ::-webkit-scrollbar-track-piece,
#friends ::-webkit-scrollbar-track {
    background: transparent !important;
    border-color: transparent !important;
}
#friends ::-webkit-scrollbar-thumb {
    background-color: transarent !important;
    border-color: transparent !important;
}
#friends ::-webkit-scrollbar-thumb:hover {
    background-color: #000 !important;
}
#app-mount .activityFeed-28jde9 ::-webkit-scrollbar-track{background: transparent}
#app-mount .activityFeed-28jde9 ::-webkit-scrollbar-thumb{width: 6px;border-color: transparent}
.channels-Ie2l6A ::-webkit-scrollbar-thumb {background: var(--main-bg-color)}
    /* Buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.lookFilled-1Gx00P.colorBrand-3pXr91 {background: var(--button-color)}
#app-mount .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {background: rgba(100,15,30,1)}

/*Chat*/
 #app-mount .content-yTz4x3,
.chat.flex-vertical.flex-spacer {
    background: var(--main-bg-color)
}
.markup-2BOw-j em {
    font-weight: 600;
    opacity: 0.8;
}
.chat-3bRxxu .messagesWrapper-3lZDfY,
.typing-2GQL18,
#app-mount .chat-3bRxxu form,
.flex-horizontal>.flex-spacer {
    background: transparent !important;
}
#app-mount .chat-3bRxxu {
    background-color: var(--main-bg-color);
}
#app-mount .typing-2GQL18 .text-1y-e8- {
    color: #010101
}
.jumpToPresentBar-9P20AM .spinner-item,
.typing-2GQL18 .spinner-pulsing-ellipsis .spinner-item {
    background: #000
}
.channelTextArea-rNsIhG {
    background: rgba(0,0,0,0);
}
#app-mount .autocomplete-i9yVHs {
    background: var(--sec-bg-color);
    border-radius: 6px
}
#app-mount .autocomplete-i9yVHs .selectorSelected-1_M1WV {
    background: hsla(0, 2%, 80%, 0.158);
}
.containerCompact-3pGPJs .markup-2BOw-j, 
.containerCozy-336-Cz .markup-2BOw-j{
    color: var(--main-text-color)
}
.chat-3bRxxu .jumpToPresentBar-9P20AM {
    background: rgba(45,48,52,1);opacity: 0.45;
    transition: cubic-bezier(1,.15,.11,.31) 250ms;}
.chat-3bRxxu .jumpToPresentBar-9P20AM:hover {
    transition: cubic-bezier(1,.15,.11,.31) 250ms;
    opacity: 0.95}
    /* Message Group */
.containerCozy-jafyvG {
    overflow: visible}
.containerCozy-jafyvG .headerCozyMeta-rdohGq {
    filter: contrast(110%);
    text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.45)
   /* filter: drop-shadow(0 0 1px hsla(0, 0%, 0%, 0.388));*/
}
.containerCozy-jafyvG .headerCozyMeta-rdohGq .timestampCozy-2hLAPV {
    color: var(--main-text-color);
    opacity: 0.65;
    transition: cubic-bezier(1,.15,.11,.31) 400ms;
}
.containerCozy-jafyvG .headerCozyMeta-rdohGq .timestampCozy-2hLAPV:hover {
    color: var(--main-text-color);
    opacity: 0.95;
    transition: cubic-bezier(1,.15,.11,.31) 350ms
}
.containerCozy-jafyvG .headerCozy-2N9HOL .avatar-17mtNa .large-3ChYtB {
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.65));
    width: var(--profile-size);
    height: var(--profile-size);
    border-radius: 2px;
    border: 2px solid #010101;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.65);
    margin-top: -5px
}

.containerCozy-jafyvG .messageCozy-2JPAPA .contentCozy-3XX413 {
    margin-left: calc(36px + var(--profile-size))
}
.containerCozy-jafyvG .messageCozy-2JPAPA .headerCozy-2N9HOL .headerCozyMeta-rdohGq {
     margin-left: calc(var(--profile-size) - 45px)
}
.containerCozy-jafyvG .messageCozy-2JPAPA  .edited-DL9ECl {
    color: var(--main-text-color); opacity: 0.65
}
#app-mount .markup-2BOw-j pre,
#app-mount .markup-2BOw-j code, #app-mount .markup-2BOw-j code.inline {
    background: #000;
    border-color: var(--sec-bg-color)
}
#app-mount .markup-2BOw-j code.inline {color: #839496}
.bd-minimal #app-mount .content-3dzVd8 {margin-left: 50px}
.bd-minimal #app-mount .content-3dzVd8 {margin-top: -5px}
.imageWrapper-2p5ogY img,
.emote,
.emoji {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
#app-mount .inner-zqa7da {
    background-color: var(--sec-bg-color) ; 
    border-radius: 5px;
    box-shadow: 0 0 12px hsla(255, 16%, 10%, 0.795);
}
#app-mount .attachButtonDivider-3Glu60 {
    background: hsla(0, 13%, 92%, 0.089)
}
#app-mount .inner-zqa7da .textArea-2Spzkt {color: #eeeeee}

/* Blocked Messages */
.theme-dark .messageGroupBlocked-3wrQQX{
    position: relative;
    top: 92px;
    margin: -60px 10px 30px calc(100% - 100px);
    opacity: 0.25;
    color: var(--main-text-color);
    transition: 150ms
}
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    color: #fff;
    position: static;
    top: 50px;
    right: 50px;
    justify-content: center;
    margin: 6px 6px 6px 19px;
    opacity: 1;
    transition: 150ms
}
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: var(--sec-bg-color) }
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {background: var(--main-bg-color)}
#app-mount .friends-table .messages .message-group-blocked.revealed,
#app-mount .messages-wrapper .messages .message-group-blocked.revealed {
    background: var(--main-bg-color)
}
#app-mount .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: var(--sec-bg-color) 
}
/* Message Buttons */
.button-3Jq0g9,
.btn-reaction {opacity: 1;filter: drop-shadow(0 0 1px rgba(0,0,0,0.25))}
/* mentions */
#app-mount .wrapper-3WhCwL { 
    color: #0096cf; 
    background-color: hsla(197, 100%, 41%, 0.082);
    transition: cubic-bezier(1,.15,.51,.31) 250ms
}
#app-mount .wrapper-3WhCwL:hover { 
    background-color: #010101; 
    color: #fff;
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
.isMentionedCozy-3isp7y:after {
    border-color: hsl(38, 100%, 54%);
    background: hsla(38, 100%, 54%, 0.247)
}
#app-mount .isMentioned-N-h9aa {
    background: hsla(38, 100%, 54%, 0.247)
}
/* Bots */
.userPopout-3XzG_A .headerText-2sdzFM .headerBotTag-35luy-,
.botTagRegular-2HEhHi {background: #0e0e0e; color: #fff}
/* Attachments */
#app-mount .attachment-33OFj0 {background: #0e0e0e}
.audioMetadata-3zOuGv .metadataIcon-2FyCKU,
#app-mount .attachment-33OFj0 .downloadButton-23tKQp {
    color: #fff;
    opacity: 0.45;
    transition: cubic-bezier(1,.15,.11,.31) 475ms
}
.icon-1kp3fr,
.audioMetadata-3zOuGv:before {
    filter: saturate(490%);
}
.audioMetadata-3zOuGv .metadataIcon-2FyCKU:hover,
#app-mount .attachment-33OFj0 .downloadButton-23tKQp:hover {
    color: #fff;opacity: 0.75;transition: cubic-bezier(1,.15,.11,.31) 475ms}
#app-mount .wrapperAudio-1jDe0Q {background: #0e0e0e}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {background: hsl(197, 100%, 41%)}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {background: hsl(197, 100%, 41%); opacity: 1}
/* Invites */
.theme-dark .wrapper-35wsBm {background: #0e0e0e}
/* Dividers */
#app-mount .dividerEnabled-2TTlcf {border-color: transparent}
#app-mount .messages-wrapper .messages .divider.divider-red>span {
    background-color: var(--main-bg-color);
}
#app-mount .divider-3gKybi:not(.red-1YQ4s7) span {
    color: #010101;
    background-color: var(--main-bg-color);
}
#app-mount .divider-3gKybi:not(.red-1YQ4s7) span:before{
    background-color: rgba(240,71,71,.8)
}
#app-mount .divider-3gKybi:before {
    background-color: #010101
}
#app-mount .messagesWrapper-3lZDfY .divider-3gKybi.dividerRed-MKoLlr>span,
#app-mount .messages-wrapper .messages .divider.divider-red>span {
    color: rgba(240,71,71,.8);
}
#app-mount .divider-3gKybi.dividerRed-MKoLlr>div {
    opacity: 0.85;
}
.chat-3bRxxu .hasMore-3e72_v button {
    background: hsla(0, 2%, 9%, 0.911);
     color: #ffffff; 
     opacity: 0.65;
     transition: 250ms ease-in}
.chat-3bRxxu .hasMore-3e72_v button:hover {
    opacity: 0.9; 
    transition: 150ms ease-out
}
.base-34jWEe h1,
#app-mount .container-3-pyIM .content-2M3n_H {
    color: var(--main-text-color);
    opacity: 0.65;
    transition: cubic-bezier(1,.15,.11,.31) 350ms;
}
.base-34jWEe:hover h1,
#app-mount .container-3-pyIM:hover .content-2M3n_H {
    opacity: 0.95;
    transition: cubic-bezier(1,.45,.11,.31) 350ms;
}
#app-mount .container-3-pyIM .content-2M3n_H a {
    color: var(--sec-text-color); 
    filter: contrast(400%)
}
.chat-3bRxxu .newMessagesBar-mujexs {
    transition: cubic-bezier(1,.15,.11,.31) 350ms;
    background: rgba(240,71,71,1);
    opacity: 0.65;}
.chat-3bRxxu .newMessagesBar-mujexs:hover {
    transition: cubic-bezier(1,.15,.11,.31) 350ms;
    opacity: 1;background: rgba(240,71,71,1);}
    /* Chat Title Bar */

.titleWrapper-1l0xT9 {
    margin-left: 1% !important;
    background: transparent;
}
#app-mount .title-3qD0b- {
    background-color: #010101 !important;
    border-radius: 0 0 0 5px;
}
    /* Members List */
.usernameOnline-3jr_0Y {filter: contrast(110%)}
#app-mount .membersGroup-v9BXpm {
    font-size: 14px;
    padding: 6.5% 0 5% 10px;
    letter-spacing: 2px;
    color: #000 !important;
    text-align: center;
    text-decoration: underline
}
#app-mount .members-1998pB {
    background: linear-gradient(
    to right,
    var(--main-bg-color), 
    hsla(255, 16%, 10%, 0.35)) ;
}
#app-mount .members-1998pB .nameTag-3p0yK-,
#app-mount .activity-1IYsbk {
    color: var(--main-text-color)
}
#app-mount .members-1998pB .nameTag-3p0yK- {
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.25));
}
#app-mount .member-3W1lQa:hover .content-OzHfo4 {
    background:hsla(0, 3%, 7%, 0.111);
}
#app-mount .member-3W1lQa.popout-open .content-OzHfo4, 
#app-mount .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: hsla(0, 3%, 7%, 0.111);
}
.typingSpinnerItem-35chrT {background: #000}
#app-mount .activityIconForeground-qYIPPg {
    fill: var(--main-text-color);
}
/* 
Channels List
*/
.container-2Rl01u, .header-2o-2hj {
    background-color: hsla(255, 16%, 10%, 0.226);
}
#app-mount .container-2Thooq {
    background: hsla(249, 14%, 10%, 0.631)
}
#app-mount .button-2b6hmh:hover {
    background-color: hsla(0, 0%, 81%, 0.1);
}
.container-1UB9sr {border-bottom: 1px solid #242525}
.container-PNkimc {
    background: transparent !important;
}
.channels-Ie2l6A { background: #010101 !important}
.channels-Ie2l6A .unread-1Dp-OI {
    background-color: var(--main-bg-color);
    width: .75em;
    height: .75em;
    transform: rotate(45deg);
    left: -3.8%;
    top: 45%;
    border-radius: 0px;
}
.containerDefault-1ZnADq .contentHoveredText-2D9B-x {
    background-color: var(--main-bg-color);
    opacity: 0.85;
}
.containerDefault-1ZnADq .contentHoveredText-2D9B-x .icon-sxakjD {color: var(--main-text-color)}
.containerDefault-1ZnADq .contentHoveredText-2D9B-x .nameHoveredText-1uO31y {
    color: var(--main-text-color);
}
.containerDefault-1ZnADq .contentHoveredText-2D9B-x .colorHoveredText-OZnAgu .actionIcon-2Hi9ZG path 
.containerDefault-1ZnADq .contentHoveredText-2D9B-x .colorHoveredText-OZnAgu path {
    fill: var(--main-text-color);
}
.containerDefault-1ZnADq .contentSelectedText-3wUhMi,
.containerDefault-1ZnADq .contentSelectedVoice-1WDIBM{
    background-color: var(--main-bg-color);
}
.containerDefault-1ZnADq .contentSelectedText-3wUhMi .nameSelectedText-sp_EUw,
.containerDefault-1ZnADq .contentSelectedText-3wUhMi .icon-sxakjD path,
.containerDefault-1ZnADq .contentSelectedVoice-1WDIBM{
    color: var(--main-text-color);
}
.containerDefault-1ZnADq .marginReset-3RfdVe,
.containerDefault-1ZnADq .nameDefaultText-24KCy5{
    color: var(--sec-text-color)
}
.containerDefault-1ZnADq .wrapper-2NJDcI {
    background: transparent;
    color: var(--sec-text-color)
}
.containerDefault-1ZnADq .contentHoveredText-2D9B-x:not(active) .nameUnreadText-DfkrI4.name-3M0b8v.overflowEllipsis-jeThUf {
    color: var(--main-text-color)
}
.channels-Ie2l6A .unread-1xRYoj, .channels-Ie2l6A .unread-1xRYoj .icon-2aINcz{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    opacity: 0.75
}
.actionIcon-2Hi9ZG:hover,
.channels-Ie2l6A .unread-1xRYoj:hover, 
.channels-Ie2l6A .unread-1xRYoj:hover .icon-2aINcz {opacity: 1;}
.channels-Ie2l6A .contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, 
.channels-Ie2l6A .contentHoveredVoice-3p_NEO:active, 
.channels-Ie2l6A .contentSelectedVoice-1WDIBM:active {background: var(--main-bg-color)}
.channels-Ie2l6A .contentConnectedVoice-qL-YrL:active .nameHoveredVoice-YJ1Vfd, 
.contentHoveredText-2D9B-x .nameHoveredVoice-YJ1Vfd .marginReset-3RfdVe, 
.channels-Ie2l6A .contentHoveredVoice-3p_NEO:active .marginReset-3RfdVe,
.contentHoveredText-2D9B-x .nameHoveredVoice-YJ1Vfd, 
.channels-Ie2l6A .contentHoveredVoice-3p_NEO:active .nameHoveredVoice-YJ1Vfd, 
.channels-Ie2l6A .contentSelectedVoice-1WDIBM:active .nameHoveredVoice-YJ1Vfd,
.actionIcon-2Hi9ZG:hover {
    color: var(--main-text-color); stroke: var(--main-text-color)
}
.contentConnectedVoice-qL-YrL:active .nameConnectedVoice-MHUX5F {
    color: var(--main-text-color);
}
.inner-btChU7 .channel-SEolQq:hover {opacity: 0.85; transition: 200ms}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: rgb(238, 238, 238);
    opacity: 0.55;
    transition: 240ms;
}
.iconCollapsed-3hFp_8:hover, .iconDefault-3Gr8d2:hover, 
.nameCollapsed-34uFWo:hover, .nameDefault-2DI02H:hover {
opacity: 0.85;
transition: cubic-bezier(1,.15,.11,.31) 240ms;
}
/*Guilds*/
.guild-1EfMGQ:nth-child(1), 
#app-mount .guild-1EfMGQ:nth-child(1) .guildInner-3DSoA4 {
    border-radius: 2px !important;
}
.guilds-1q_RqH .homeIcon-1FoKUJ g{display:none}
.guildsWrapper-5TJh6A .guilds-1q_RqH svg.homeIcon-1FoKUJ{
    background: url(https://i.imgur.com/a7iJ7d6.png) no-repeat center/cover;
    background-color: var(--main-bg-color);
}
.noIcon-1a_FrS {background: #252424}
#app-mount .guildsWrapper-5TJh6A {
    background: var(--main-bg-color) !important
}
#app-mount .guild-1EfMGQ .guildInner-3DSoA4 {background: var(--sec-bg-color)  !important; border-radius: 50% !important}
.guild-1EfMGQ .guildIcon-CT-ZDq {
    --guilds-size: 50px;
    border-radius: 50% !important;
    width: var(--guilds-size);
    height: var(--guilds-size);
}
.guilds-wrapper .guilds .guild .guild-inner {
    background-color: #0c0c0c !important
}
/*  .guild-1EfMGQ.unread-qLkInr:before */
#app-mount .friendsOnline-_wi_fM, .guilds-wrapper .guilds .friends-online {color: var(--main-text-color)}
.tooltip.tooltip-black {
    background: var(--gradient) !important;
    color: #000 !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.85);
}
.tooltip.tooltip-right:before,
.tooltip.tooltip-right:after {
    border-right-color: #fff;
}

#app-mount .guild-1EfMGQ.unread-qLkInr:before {
    background: #252424;
    width: .75em;
    height: .75em;
    transform: rotate(45deg);
    border-radius: 0px;
    left: -18px;
}
#app-mount .guild-1EfMGQ.unread-qLkInr.selected-ML3OIq:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    background: var(--sec-bg-color) ;
    border-radius: 20px;
    height: 40px;
    margin-top: -20px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    transform: rotate(0);
    left: -17px;
}
#app-mount .guild-1EfMGQ.selected-ML3OIq:before {
    background: #303030
}
#app-mount .guildsAdd-21_IdK {
    background: var(--sec-bg-color);
    border-color: var(--border);
    color: var(--border-hover)
}

/*
 Home/Dms 
*/
.theme-dark .channel-2QD9_O.selected-1HYmZZ a, .theme-dark .channel-2QD9_O:hover a,
.theme-dark .contentHoveredText-2D9B-x,
.theme-dark .contentSelectedText-3wUhMi, .theme-dark .contentSelectedVoice-1WDIBM {background: var(--main-bg-color)}
#app0mount .activity-525YDR {color: var(--sec-bg-color) }
/* Friends Tab and Games Tab */
.theme-dark .card-7JP0BX {
    background-color: #121214;
}
.itemBackground-1jfD8p{
    border-radius: 30px;
}
.theme-dark .itemBackground-1jfD8p {
    background: #121214;
}
#app-mount .itemBackground-1jfD8p:before {
    background: none;
}
.header-1RC2Wb {
    height: 100px;
}
.splashArt-3yFzRe {
    filter: none;
    -webkit-filter: none;
    -webkit-mask: none;
    mask: none;
    width: 100%;
    background-position: 0 10%;
}
#app-mount .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover{
    background-color: #333335;
}
.theme-dark .gamePreview-9weYR2 {
    background-color: #161616;
}
.theme-dark .body-1SVoBw {
    background-color: #121214;
}
.theme-light .activityFeed-28jde9 {
    background: #d6d6dc;
}
.background-1ri_HN {
    -webkit-mask: -webkit-gradient(linear,left bottom,left top,from(rgba(0, 0, 0, 0)),to(#373535));
    bottom: 0;
}
.theme-dark .overlappingBorder-1ysb12 {
    border-color: #0c0b0b;
}
#app-mount .tag-HanR-9 {
    background: #141414;
}
#friends .friends-table .friends-table-header {
    background-color: rgba(0,0,0,0.45);
    color: var(--sec-text-color);
}
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action {background-color: rgba(0,0,0,0.85)}
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {background-color: hsla(0, 69%, 23%, 0.562)}
#app-mount #friends .tab-bar.tab-bar-desktop .tab-bar-item:hover {color:var(--main-text-color);background: var(--main-bg-color);opacity: 0.75;}
#app-mount #friends .tab-bar .tab-bar-item .badge {background: #f04747;color: #fff}
#app-mount #friends .tab-bar .tab-bar-item.tab-bar-item-primary {background: #010101}
#friends .friends-table {    margin: 1% 2% 0 2%;background: rgba(0,0,0,0.45)}
#app-mount #friends .friends-table .friends-row:hover {transition: 200ms; background: rgba(0,0,0,0.85)}
#app-mount #friends {background: var(--main-bg-color)}
#app-mount .headerBar-UHpsPw {background: #010101;
    margin: 0 2% 0;
    border-radius: 0 0 5px 5px;}
#app-mount .card-7JP0BX {background-color: rgba(0, 0, 0, 0.9);}
#app-mount .activityFeed-28jde9 {
    background-color: var(--main-bg-color)
}
#app-mount .emptyState-N8MHmB {color: var(--main-text-color)}
#app-mount .body-SKIE6r .news-2GDtLJ, #app-mount .body-SKIE6r {background: #010101}
#app-mount .header-1RC2Wb {background: transparent; height: 48px}
.splashArt-3yFzRe {-webkit-mask: none; filter: none;width: 100%}
#app-mount #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {color: var(--main-text-color); background: var(--main-bg-color)}
.assetsLargeImageActivityFeedTwitch-35IZuj.assetsLargeImage-eYwpTX.noUserDrag-5Mb43F {-webkit-mask: none;}
.pagination-2t8HBX polygon{fill: hsla(0, 11%, 84%, 0.61);}

.article-FleDq5 {background: var(--sec-bg-color) ;}

  /* Settings */

#app-mount .checkbox-1ix_J3 {
    border-color: hsl(0, 0%, 43%);
}
.wrapper-3jrx9n {
    border-color: var(--sec-color)
}
.option-n0icdO:hover,
.selected-mKYnfr.option-n0icdO {
    background: var(--sec-color); 
    opacity: 0.85;
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
#app-mount .closeButton-1tv5uR,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background: hsla(0, 0%, 5%, 0.281);
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
#app-mount .ui-standard-sidebar-view .btn-close {
    border-color: #252424;
    transition: cubic-bezier(1,.15,.11,.31) 250ms;
}
#app-mount .closeButton-1tv5uR:hover,
#app-mount .ui-standard-sidebar-view .btn-close:hover {
    border-color:hsla(0, 85%, 61%, 0.357); 
    background-color: hsla(0, 96%, 35%, 0.123);
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
#app-mount .cardPrimary-1Hv-to{background: #010101}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ {background-color: #252424}
#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {background: #0e0e0e}
#app-mount .sidebarRegion-VFTUkN {background: #010101}
#app-mount .contentRegion-3nDuYy {background: #0e0e0e;}
#bd-settings-sidebar .ui-tab-bar-header, .side-8zPYf6 .header-2RyJ0Y {color: #fff;}
#app-mount .questionMark-CWEQZn {background: var(--sec-color);opacity: 0.45;}
#app-mount .questionMark-CWEQZn:hover {opacity: 0.95;transition: 150ms}
#app-mount .cardPrimaryEditable-3KtE4g {background: #000!important;border-color: #303030 !important}
#app-mount .checked-3_4uQ9 {border-color: #fff !important;}
#app-mount .checked-3_4uQ9 g polyline {stroke: #0e0e0e;}
#app-mount .input-cIJ7To.focused-1mmYsC,
#app-mount .input-cIJ7To:focus {border-color: var(--sec-color)}
.barFill-23-gu- {background: var(--sec-color)}
/* Settings Content */
.container-1RjyoP .preview-2nSL_2 {background: var(--main-bg-color)}
#app-mount .cardPrimaryEditable-3KtE4g.selected {background: var(--sec-color)}
/* Sidebar */
#bd-settings-sidebar .ui-tab-bar-item.selected,
.side-8zPYf6 .itemSelected-1qLhcL {background-color: #0e0e0e; border: 1px solid var(--sec-color)
}
    /* Crash Screen */
.themeDark-3Ap_7i {
    background-color: var(--main-bg-color);
}
.text-NLHgOm .note-450gs3, .text-NLHgOm h4 {color: var(--main-text-color)}
.container-16j22k {background: #010101}
/* BD Settings */
.bda-slist li {
    background: #0e0e0e; 
    border-radius: 3px;padding: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0.25);
    color: #eeeeee
}
.bd-pfbtn, .bda-slist .bda-footer button {opacity: 0.45;background: var(--sec-color)}
.bd-pfbtn:hover, .bda-slist .bda-footer button:hover {opacity: 0.95}
.bda-slist .bda-footer a{color:#0096cf !important }
.checkbox .checkbox-inner input[type=checkbox]:checked+span {background: #0e0e0e; border-color: #0e0e0e}
/* Misc */
#app-mount .operations-36ENbA {color: var(--main-text-color)}
.operations-36ENbA>a {color: #0096cf}
#app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3{background: rgba(63, 63, 63, 0.918)}
.idle-3DEnRT, .online-2S838R, .dnd-1_xrcq,
.invisible-1kp8Z0,  .offline-3qoTek, .unknown-Ms2zdV, 
.streaming-2_dnHe {border-color: #0e0e0e !important}
/* Server Misc */
#app-mount .noChannel-Z1DQK7 {
    background: var(--main-bg-color)
}
#app-mount .text-GwUZgS, #app-mount .title-2BxgL2 {
    color: var(--main-text-color)
}
/* AKA */

.aka-1mqp34 {background: #0e0e0e; box-shadow: 0 0 3px #dddddd}
#app-mount .topic-2QX7LI {color: #dddddd;opacity: 0.55}
#app-mount .topic-2QX7LI:hover {opacity: 0.95;}
    /* Server Welcome Message */
.app .welcomeMessage-3_Mcht h1 {color: #0e0e0e}
    /* Loading Cubes */
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {background-color: var(--sec-color) !important}
/* Embed Messages */
#app-mount .embedInner-1-fpTo {background: #0e0e0e}
.embedAuthorIcon--1zR3L {border-radius: 0}
/* Search Results */
.search-results-wrap .containerCozy-jafyvG .headerCozy-2N9HOL .avatar-17mtNa .large-3ChYtB {
    width: 35px;
    height: 35px;
    margin-top: 3px
}    
.search-results-wrap .containerCozy-jafyvG .messageCozy-2JPAPA .contentCozy-3XX413 {
    margin-left: 70px
}
.search-results-wrap .containerCozy-jafyvG .messageCozy-2JPAPA .headerCozy-2N9HOL .headerCozyMeta-rdohGq {
     margin-left: -10px
}
.search-results-wrap .containerCozy-jafyvG {
    background: var(--main-bg-color)
}
#appmount .search-results-wrap .search-result:before,
#appmount .search-results-wrap .search-result::after {
    background: rgba(0,0,0,0.25)
}
#app-mount .search-results-wrap .search-result .search-result-message.hit {
    border: 0px solid black;
    background: radial-gradient( at center,
    rgba(0,0,0,0.15),
    rgba(0,0,0,0.05));
    box-shadow: 0 0 5px rgba(0,0,0,0.15)
}
/* Popouts */
#app-mount .hasMoreButton-1MELpI {background: #0e0e0e;color: #eeeeee;opacity: 0.45;}
#app-mount .hasMoreButton-1MELpI:hover {opacity: 0.95}
.theme-dark.contextMenu-HLZMGh {background: #0e0e0e}
.theme-dark .quickswitcher-3JagVE {background-color: #0e0e0e}
.theme-dark .keybindShortcut-1BD6Z1 span,
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g{
    background: var(--main-bg-color);color: var(--main-text-color);fill: var(--main-text-color)}
.messageGroupWrapperOffsetCorrection-phOU-k .avatar-17mtNa .large-3ChYtB {width: 45px; height: 45px}
#app-mount .menu-Sp6bN1 {background: #0e0e0e}
#app-mount .item-1GzJrl:hover {background: rgba(255,255,255,0.15)}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary{color: #eeeeee; margin-left: 3px}
.uploadModal-2ifh8j .footer-3mqk7D .button {background: #0e0e0e}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j,
.uploadModal-2ifh8j .inner-3nWsbo, 
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{
    border-color: #eeeeee}
.uploadModal-2ifh8j .footer-3mqk7D {background: #eeeeee}
.uploadModal-2ifh8j{background: #010101}
#app-mount .message-2qRu38 {background: var(--main-bg-color)}
#app-mount .body-3ND3kc {background:#010101;}
#app-mount .select-2TCrqx .Select-menu-outer {background: #0e0e0e; border-color: #303030}
#app-mount .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: 0 0 6px 4px rgba(0,0,0,0);
    background-color: #262727;
    box-shadow: 0 0 6px 4px rgba(0,0,0,0);}
#app-mount .messageGroupWrapper-o-Zw7G:hover {
    min-height: 50px;
}
.messageGroupWrapperOffsetCorrection-phOU-k {
     margin-bottom: -4px}
#app-mount .jumpButton-3DTcS_ {background: #000}
#app-mount .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {background: rgba(0,0,0,0.95);padding: 1px}
#app-mount .search-results-wrap .search-result:before {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(47,49,54,0)),to(#000000));
    background-image: linear-gradient(0deg,rgba(47,49,54,0),#000000);}
#app-mount .search-results-wrap .action-buttons .jump-button:hover,
#app-mount .search-results-wrap .channel-separator .channel-name,
#app-mount .search-results-wrap, #app-mount .search-results-wrap .search-header,
#app-mount .messagesPopoutWrap-1MQ1bW, .themedPopout-25DgLi .header-SsaQ8X,
#app-mount .modal-3HD5ck {background: #0e0e0e;border-radius: 0}
#app-mount .footer-2yfCgX {background-color: hsla(180, 1%, 14%, 0.582)}
.popoutBottom-1YbShG, #app-mount .searchPopout-1vUlP3 {
    background: #0e0e0e
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker {
    background: var(--sec-color)
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__header {
    background: hsla(249, 14%, 10%, 0.631)
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--outside-month,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background: hsla(0, 3%, 77%, 0.05)
}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: #0096cf
}
#app-mount .option-96V44q.selected-rZcOL- {
    background: rgba(255,255,255,0.25)
}
#app-mount .messagesPopoutWrap-1MQ1bW, 
.themedPopout-25DgLi .messageGroupCozy-2iY6cT {
    background: var(--main-bg-color)
}
.messagesPopoutWrap-1MQ1bW .messageGroupWrapper-o-Zw7G {background: var(--main-bg-color);border-color: #0e0e0e}
#app-mount .messagesPopoutWrap-1MQ1bW .channelSeparator-1MxuvT .channelName-3kBz6H,
#app-mount .messagesPopoutWrap-1MQ1bW .channelSeparator-1MxuvT .guildName-1Bc3Ta {color: var(--main-text-color)}
#app-mount .topSectionNormal-2-vo2m {background: #0e0e0e}
#app-mount .reaction-1ELvT8 .reactionInner-rRPZdY,
#app-mount .reaction {background: #0e0e0e; opacity: 0.9;border-radius: 3px}
#app-mount .reaction-1ELvT8:hover .reactionInner-rRPZdY,
#app-mount .reaction:hover {opacity: 0.95}
#app-mount .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS,
#app-mount .reaction.reaction-me .reaction-count {color: #0096cf}


/* BD Emotes */
#bda-qem-twitch-container, #bda-qem-favourite-container,
#bda-qem button.active,
.emojiPicker-3m1S-j .category-2U57w6,
#app-mount .container-3cGP6G,
#bda-qem button:hover,.search-bar.search-bar-light,
.emojiPicker-3m1S-j, .search-bar-light,
#bda-qem, .emojiPicker-3m1S-j .header-1nkwgG {
    background: hsla(255, 16%, 10%, 1)
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S,
#bda-qem button {
    border-color: #2f3136;
    color: #eeeeee
}
.search-bar.search-bar-light .search-bar-inner,
.search-bar.search-bar-light input {
    background: rgba(26, 25, 25, 1); color: #eeeeee
}
.popoutTopRight-3BzFIE.noArrow-3BYQ0Z ::-webkit-scrollbar,
.popoutTopRight-3BzFIE.noArrow-3BYQ0Z ::-webkit-scrollbar-track,
.popoutTopRight-3BzFIE.noArrow-3BYQ0Z ::-webkit-scrollbar-track-piece {
    background: transparent!important; border-color: transparent !important;
}
.popoutTopRight-3BzFIE.noArrow-3BYQ0Z ::-webkit-scrollbar-thumb {
    background: #0c0c0c !important
}
#bda-qem button {
    box-shadow: 0 0 0 transparent
}
/* New Server */

.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {background-color: #0e0e0e}
/* Big User Popout */
.bodyAlignCenter-1KzvJk {
    display: -webkit-inline-box;
}
.contentGameImageProfile-WTVbI0 {
    margin-left: 0px
}
#app-mount .connectedAccount-36nQx7 {
    border-color: var(--border);
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
#app-mount .connectedAccount-36nQx7:hover {
    border-color: var(--border-hover);
    box-shadow: 0 0 16px var(--border); 
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
.userInfoSection-2acyCx .note-QfFU8y textarea {
    background: hsla(0, 0%, 11%, 0.034)
}
    /* User Popout
    -Credit to Sato for providiing ALL of this code */

.headerPlaying-j0WQBV {background-color: #000}
.userPopout-3XzG_A .header-2BwW8b {
        background-color: #000 !important; }
.userPopout-3XzG_A .body-3iLsc4, .userPopout-3XzG_A .footer-1fjuF6, 
#app-mount .quickMessage-1yeL4E {background-color: #101010}
#app-mount .quickMessage-1yeL4E {
    border-color: var(--border);
    transition:  cubic-bezier(1,.15,.11,.31) 250ms
}
#app-mount .quickMessage-1yeL4E:hover {
    border-color: var(--border-hover);
    transition: cubic-bezier(1,.15,.11,.31) 250ms
}
.headerTop-3C2Zn0 {padding: 0}
    .userPopout-3XzG_A {border-radius: 2px}
    .userPopout-3XzG_A .avatarWrapper-3H_478,
    .userPopout-3XzG_A .wrapper-2F3Zv8,
    .userPopout-3XzG_A .avatarWrapper-3H_478 .image-33JSyf {
        border-color: transparent !important;
        background-color: transparent !important;
        margin: 0px 0px 0px;
        width: 100%;height: 200px;
        display: flex;flex: 1;
        background-size: 250px 250px;
        border-radius: 0;background-position: 0 !important;
        background-repeat: no-repeat;position: relative;-webkit-mask: none;mask: none;}
    .userPopout-3XzG_A .header-3mZJcV:hover .avatarWrapper-3H_478 {filter: grayscale(14%);transition: filter 500ms ease-out;}
    .userPopout-3XzG_A .headerPlaying-2eYqm9 {height: 350px !important;background-color: #2f3136 !important;}
    .userPopout-3XzG_A .header-3mZJcV {height: 250px;transition: filter 100ms;background: none;border: none;color: transparent;z-index: 2;padding: 0;}
    .userPopout-3XzG_A .avatarWrapper-3H_478.no-hover {min-height: 250px;top: 9px;}
    .userPopout-3XzG_A .header-3mZJcV:hover .headerText-2sdzFM {
        width: 200px;margin-top: -180px;border-radius: 10px;position: absolute;top: 342px;transition: top 170ms ease-out;}
    .userPopout-3XzG_A .headerText-2sdzFM {
        width: 200px;margin-top: -180px;position: absolute;top: 366px;
        transition: top 270ms ease-in-out;z-index: 0;}
    .userPopout-3XzG_A .headerStreaming-3F-wjT .headerLive-2dDMvp:hover {background-color: transparent;}
    .userPopout-3XzG_A .header-3mZJcV:hover .avatarWrapper-3H_478 .avatarHint-2i5XWK {
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
        border-radius: 0;transition: opacity 300ms ease-in 80ms;opacity: 1}
    .userPopout-3XzG_A .avatarWrapper-3H_478 .avatarHint-2i5XWK {
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
        box-shadow: none;opacity: 0;
        border-radius: 0;transition: opacity 180ms ease-out 100ms;
        -webkit-mask: none;mask: none}
.userPopout-3XzG_A :-webkit-any(.nameTag-m8r81H, .headerActivityText-3qBQRo, .headerTag-3zin_i), .creation-date-wrapper {
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,0) 100%);
        width: 200px;max-width: 200px;padding: 0 !important;
        transform: translateY(-25px);bottom: 0%}
    .userPopout-3XzG_A .headerText-2sdzFM .nameTag-m8r81H {margin-bottom: 4px;}
    .userPopout-3XzG_A .headerText-2sdzFM .headerActivityText-3qBQRo {height: 0px;overflow: hidden;word-break: break-all;margin: 0}
    .userPopout-3XzG_A .header-3mZJcV:hover .headerText-2sdzFM .headerActivityText-3qBQRo {height: auto;max-height: 35px}
.userPopout-3XzG_A .avatarWrapper-3H_478 .statusProfile-3ynqtt {
        bottom: -8px;width: 125px;height: 8px;left: 25%;
        box-shadow: inset 0 0 0 1.8px rgba(0,0,0,.2);
        border-radius: 0;z-index: 0;border: none !important;}
    .userPopout-3XzG_A .header-3mZJcV:hover .avatarWrapper-3H_478 .statusProfile-3ynqtt {filter: contrast(105%);transition: filter 480ms ease-out;}
    .userPopout-3XzG_A .body-3rkFrF .bodyTitleText-hSiL7d {margin-top: 10px;margin-bottom: 4px;}
    .userPopout-3XzG_A .headerText-2sdzFM .nameTag-m8r81H,.userPopout-3XzG_A  .headerName-fajvi9,.userPopout-3XzG_A  .headerTagUsernameNoNickname-2_H881 {color: var(--color)!important;}
    .userPopout-3XzG_A .headerText-2sdzFM .nameTag-m8r81H,
    .userPopout-3XzG_A .headerText-2sdzFM .headerTag-3zin_i,
    .userPopout-3XzG_A .header-3mZJcV:hover .headerText-2sdzFM .headerActivityText-3qBQRo,
    .userPopout-3XzG_A .header-3mZJcV:hover .creation-date-wrapper  {
        opacity: 1;overflow: hidden;transition: opacity 200ms ease-in;
        transition-delay: 170ms;text-align: center;}
    .userPopout-3XzG_A .headerText-2sdzFM .headerActivityText-3qBQRo,
    .userPopout-3XzG_A .creation-date-wrapper {opacity: 0;transition: opacity 200ms}
    .creation-date-wrapper {text-align: center;top: -160px;position: absolute;padding: 3px 0 !important;}
    .userPopout-3XzG_A .headerStreaming-3F-wjT .headerLive-2dDMvp {
        position: fixed;top: 20px;left: 34px;
        border-top: none;border-bottom: 1px solid rgba(255,255,255,.08);
        background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,0.05) 15%,rgba(250,250,250,0.05) 85%,rgba(250,250,250,0) 100%);
        padding: 4px 25px;width: auto}
    .userPopout-3XzG_A .headerStreaming-3F-wjT {padding-bottom: 6px;}
    .userPopout-3XzG_A .headerStreaming-3F-wjT .avatarStatus-1g8f0K {bottom: -6px;}
    .userPopout-3XzG_A .headerStreaming-3F-wjT .avatar-1BXaQj {padding-bottom: 4px;top: -2px;}
    .userPopout-3XzG_A .member-roles {max-height: 96px;overflow-y: scroll;}
    .userPopout-3XzG_A .member-roles::-webkit-scrollbar {width: 0px;}
    .userPopout-3XzG_A .body-3rkFrF {z-index: 1;padding-top: 14px;}
    .userPopout-3XzG_A .footer-2J5zqP {z-index: 1;}
    .userPopout-3XzG_A .avatarWrapper-3H_478 .avatar-1BXaQj::after {transform: scale(1);border-radius: 0;}
    .userPopout-3XzG_A .avatarWrapper-3H_478:active, .userPopout-3XzG_A .avatarWrapper-3H_478:hover {box-shadow: none;}
    .avatarHint-1qgaV3 {border-radius:0}
    .maskProfile-1ObLFT{mask:none;-webkit-mask:none}
    .headerName-fajvi9 {color: #0e0e0e; font-size: 12px;transform: translateY(-180px);background: rgba(0,0,0,0.45); box-shadow: 0 0 5px rgba(0,0,0,0.85)}
/* Minmal Mode and Compact */
#app-mount .containerCompact-3V0ioj .username-_4ZSMR {filter: contrast(110%)}

/* Add ons */
.theme-dark .sidebar-1-SQro,
.theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw {background: #0e0e0e}

.theme-dark #autocomplete-popout section{background: #0e0e0e}
.theme-dark #autocomplete-popout .row.selected {background: linear-gradient(to right, hsla(255, 16%, 10%, 0.664), hsla(249, 14%, 10%, 0.941) )}
.theme-dark #autocomplete-popout header {background: hsla(249, 14%, 10%, 0.631)}
.theme-dark #autocomplete-popout ::-webkit-scrollbar,
.theme-dark #autocomplete-popout ::-webkit-scrollbar-track,
.theme-dark #autocomplete-popout ::-webkit-scrollbar-track-piece {
    background: transparent!important; border-color: transparent !important;
}
.theme-dark #autocomplete-popout ::-webkit-scrollbar-thumb {
    background: #0c0c0c !important
}
/* Plugin Loading */
.toast {
    background-color: var(--sec-bg-color);
    transition: cubic-bezier(.73,.01,.63,1.09) 450ms;
}
