//META{"name":"Shadow Light","description":"Dark style theme with shadows and light color borders. Background Image Version","author":"Asteria","version":"1.2.0"}*//{}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://gist.githubusercontent.com/Asteria5675/e112030e7a1d5ab97258b7136d3e9675/raw/ba1cf58c23933489f467820453808e96e4dabcf9/sl_source.css');

/* Main Variables
- Change the color variables if desired*/

:root {
	/* Main Color */
--main-color: #2e2e2e;
	/* Border Colors */
--sec-color: gray;
	/* Button color and other aspects */
--dark-red: rgba(100,15,30,1);
}

/* 
--------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>Background<<<<<<<<<<<<<<<<<<<<<<<
--------------------------------------------------------
 Custom Image Background
 ===================================
.appMount-3VJmYg,
.container-2lgZY8,
.chat,
.chat .messages-wrapper {
	background: transparent !important
}
.app,
.callout-backdrop {
		background: url(https://i.imgur.com/ucW2TmV.png) !important;
		background-size: cover !important
}
